/* Color palette  */

.color1, .facts {
  color: #062033
}

.color2 {
  color: #506468
}

.color3 {
  color: #f1ab86
}

.color4 {
  color: #f7dba7
}

.bgcolor1 {
  background-color: #062033
}

.bgcolor2 {
  background-color: #506468
}

.bgcolor3, .overlay {
  background-color: #f1ab86
}

.bgcolor4 {
  background-color: #f7dba7
}

.body,
.footer,
.footer a {
  color: #6a737b
}

/* Sizes  */
.fs-0 {
  font-size: 3.5rem
}

.fs-7 {
  font-size: .8rem
}

/* Basic styles  */
body {
  background-color: #fff;
  font-family: system-ui, 'Open Sans', sans-serif;
  line-height: 21px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none
}

figure,
p {
  margin: 0
}

a {
  color: #fff;
  -webkit-transition: all .3s ease-in 0s;
  -moz-transition: all .3s ease-in 0s;
  -ms-transition: all .3s ease-in 0s;
  -o-transition: all .3s ease-in 0s;
  transition: all .3s ease-in 0s
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0
}

body>section {
  padding: 70px 0
}

.sec-title h3 {
  font-weight: 650;
  margin-bottom: 30px
}

.sec-sub-title {
  margin: 35px 0 45px
}

.sec-sub-title p {
  font-weight: 600;
  line-height: 24px;
}

.mb50 {
  margin-bottom: 50px
}

#preloader {
  background-color: #fff;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1100
}

#preloader>img {
  left: 47%;
  position: absolute;
  top: 48%
}

/* Header */

#navigation {
  background-color: #000;
  border: 0;
  margin: 0;
  transition: background-color .8s linear
}

.navbar-nav .nav-link {
  border-top: 1px solid transparent;
  color: #fff
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
  background-color: transparent;
  border-top: 1px solid #f7dba7;
  color: #fff
}

/* Front page */

#slider {
  padding: 0
}

#slider .carousel-inner .item {
  background-size: cover
}

.carousel-caption {
  top: 50%
}

.carousel-caption h3 {
  top: 50%;
  font-weight: 300
}

.carousel-caption span {
  top: 50%;
  font-weight: 450
}

.carousel-caption p {
  font-weight: 300
}

.carousel-caption p:after,
.carousel-caption p:before {
  color: #9197ae;
  content: "___";
  position: relative;
  top: -8px
}

.carousel-caption p:before {
  right: 20px
}

.carousel-caption p:after {
  left: 20px
}

.social-links {
  margin-top: 5%
}

.social-links li {
  display: inline-block
}

.social-links li a {
  color: rgba(255, 255, 255, .3);
  display: block;
  margin: 0 6px
}

.social-links li a:hover {
  color: #fff
}

.carousel-indicators {
  bottom: 10px;
  left: inherit;
  margin: 0;
  right: 30px;
  top: 49%;
  width: 0
}

.carousel-indicators li {
  border: 1px solid rgba(255, 255, 255, .3);
  height: 8px;
  width: 8px
}

.carousel-indicators .active {
  height: 8px;
  width: 8px
}

.anima::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3)
}

/* Products */

.products .social-links {
  margin-top: 5%
}

.products .social-links li {
  display: inline-block
}

.products .social-links li a {
  color: rgba(0, 0, 0, .347);
  display: block;
  margin: 0 6px
}

.products .social-links li a:hover {
  color: #000
}

.products .sec-sub-title {
  margin: 20px 0 30px
}

.products .carousel-inner img {
  max-height: 500px;
  object-fit: contain;
  width: 100%
}

.products .carousel {
  max-height: 400px
}

#reviewCarousel {
  margin-top: 25px;
  height:100px;
}

/* Services */

.services {
  background-color: #f4f7f9
}

.service-desc {
  margin-left: 70px;
  position: relative;
  top: 5px
}

.service-desc h4 {
  color: #062033;
  font-weight: 600;
  margin-bottom: 25px
}


/* Showcase */

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mix {
  display: none
}

.showcase-item {
  width: 25%;
  max-width: 350px;
  position: relative;
  aspect-ratio: 1.5
}

.showcase-item>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center
}

.overlay {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 450ms ease-out 0s;
  -moz-transition: all 450ms ease-out 0s;
  -o-transition: all 450ms ease-out 0s;
  transition: all 450ms ease-out 0s;
  -webkit-transform: rotateY(180deg) scale(.5, .5);
  -moz-transform: rotateY(180deg) scale(.5, .5);
  -ms-transform: rotateY(180deg) scale(.5, .5);
  -o-transform: rotateY(180deg) scale(.5, .5);
  transform: rotateY(180deg) scale(.5, .5)
}

.showcase-item:hover .overlay {
  opacity: 1;
  -webkit-transform: rotateY(0) scale(1, 1);
  -moz-transform: rotateY(0) scale(1, 1);
  -ms-transform: rotateY(0) scale(1, 1);
  -o-transform: rotateY(0) scale(1, 1);
  transform: rotateY(0) scale(1, 1)
}

.showcase-item .overlay a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20%;
  padding: 7px 10px
}

.showcase-item .overlay a:hover {
  color: #fff
}

.showcase-item .overlay h5 {
  font-weight: 700;
  line-height: 24px;
  margin: 25px 0 8px
}

.showcase-item .overlay p {
  line-height: 24px
}

/* Facts */

#facts {
  background-image: url(../img/city.jpg);
  background-attachment: fixed !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0
}

.parallax-overlay {
  background-color: rgba(6, 32, 51, .8);
  padding: 70px 0
}

.counters-item {
  color: #fff
}

.counters-item i {
  border: 1px solid #737c85;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 120px;
  margin: 0 0 35px;
  padding: 40px 0 0;
  width: 120px
}

.counters-item strong {
  display: block;
  font-weight: 600;
  line-height: 60px
}

.counters-item h6 {
  line-height: 24px;
  margin-top: 15px
}

/* Contact */

.contact {
  padding-bottom: 0
}

.contact-form .input-group {
  width: 100%
}

/* Footer */

.footer a:hover {
  color: #062033
}

.footer h6 {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 30px
}

.footer-single {
  margin-bottom: 15px;
  position: relative
}

.footer-single {
  line-height: 24px
}

.footer-single li {
  line-height: 32px
}

.footer-single p i {
  margin: 0 10px
}

#back-top {
  bottom: 20px;
  position: fixed;
  right: 25px;
  z-index: 9
}

footer,
footer a,
footer a:focus,
footer a:hover {
  padding: 10px 10px 10px 10px;
  color: rgba(255, 255, 255, .65)
}

footer a,
footer a:focus,
footer a:hover {
  text-decoration: none
}