/*============================================================
	Mobile
==============================================================*/

@media only screen and (max-width: 767px) {
  body {
    font-size: 0.8rem !important;
    line-height: 17px;
  }

  .fs-0 {
    font-size: 1.9rem !important;
  }

  .fs-1 {
    font-size: 1.3rem !important;
  }

  h3,
  .h3 .fs-3 {
    font-size: 1.2rem !important;
  }

  h4,
  .h4,
  .fs-4 {
    font-size: 1.1rem !important;
  }

  h5,
  .h5 .fs-5 {
    font-size: 1.1rem !important;
  }

  h6,
  .h6 .fs-6 {
    font-size: 0.9rem !important;
  }

  .lead {
    font-size: 0.9rem !important;
    line-height: 15px;
  }

  .fs-7 {
    font-size: 0.7rem !important;
  }

  body>section {
    padding: 10px 0 !important;
  }

  .sec-title h3 {
    margin-bottom: 15px !important;
  }

  .sec-sub-title {
    margin: 0 0 10px !important;
  }

  .sec-sub-title p {
    line-height: 18px;
  }

  /* products */

  #reviewCarousel {
    margin-top: 0px;
  }

  .social-links {
    margin-top: 10px !important;
  }

  /* services */

  .service-item {
    margin: 0 auto 30px;
    text-align: center;
    width: 280px;
  }

  .service-icon {
    float: none;
    margin: 0 auto 15px;
    text-align: center;
    width: 50px;
  }

  .service-header h4 {
    margin-bottom: 10px !important;
  }

  .service-desc {
    margin-left: 0;
    position: relative;
    top: 0;
  }

  .service-image {
    max-height: 80px !important;
    margin-bottom: 0.5rem;
  }

  .specialization-text {
    margin-top: 10px;
    justify-content: center !important;
  }

  .specialization-list {
    justify-content: left !important;
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }

  .services .col-md-4
  {
    margin: 0 !important;
  }

  /* showcase */

  .showcase-item {
    width: 45% !important;
    padding: 5px
  }

  /* facts */

  #facts {
    background-position: center top !important;
  }

  .counters-item {
    margin-bottom: 15px;
  }

  .counters-item i {
    height: 45px;
    margin: 0 0 10px;
    padding: 10px 0 0;
    width: 45px
  }

  .counters-item strong {
    line-height: 20px
  }

  .counters-item h6 {
    line-height: 12px;
    margin-top: 15px;
  }

  .fa-3x {
    font-size: 2em; 
  }
  

  /* contact */

  .fs-field {
    display: flex;
    align-items: center;
  }

  .fs-form {
    row-gap: 0.5rem !important;
  }

  .form-label,
  .form-control {
    font-size: 0.75rem !important;
    line-height: 0.8rem !important;
  }

  .mb-3 {
    margin-bottom: 8px !important;
  }

  .btn {
    font-size: 0.7rem;
  }

  /* footer */

  footer,
  footer a,
  footer a:focus,
  footer a:hover {
    padding: 5px 5px 5px 5px;
  }
}