html,
body {
	height: 100%;
	background-color: #333;
	font-family: 'Roboto', sans-serif;
}

body {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.content-width
{
	width:85%;
}

a,
a:focus,
a:hover {
	color: #fff;
}

.product
{
	background-color: rgba(255, 255, 255, 0.55);
	color:black;
	border-radius: 30px;
	padding: 10px;
}

.bg-image {
	background: url(images/anima.png)  center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	max-width: 100em;
	width:95vh;
}

.company-name {
	margin-bottom: 0;
}
.company-name-ai {
	color: rgba(255, 255, 255, .65);
}


.footer {
	color: rgba(255, 255, 255, .65);
	padding-top: 5px;
}

.email {
	width:90px;
	height: 25px;
}

/* Mobile */
@media (max-width: 767px) {
	body {
		font-size: 10px !important;
		h4 { font-size: 0.9rem; margin-bottom: .25rem; }
		h5 { font-size: 0.8rem; margin-bottom: .15rem; }
	}

	.m-md-5 {
		margin: 1rem!important;
	}

	.shield
	{
		height: 15px;
	}

	.btn {
		padding: 0.2rem 0.5rem;
		font-size: 0.8rem;
	}
}

/* PC, tablets  */
@media (min-width: 768px) {
	.company-name {
		float: left;
	}
	.content {
		padding: 0 3rem;
	}

	body {
		font-size: 16px !important;
		h4 { font-size: 1.25rem; margin-bottom: .25rem; }
		h5 { font-size: 1.1rem; margin-bottom: .15rem; }
	}
}